<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServeletConfigUsingXML</display-name>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>com.samit.DemoServlet</servlet-class>
		<init-param>
			<param-name>jdbcUrl</param-name>
			<param-value>jdbc:mysql://localhost:3306/temp</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>samit@123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.samit.TestServlet</servlet-class>
		<init-param>
			<param-name>company</param-name>
			<param-value>TCS</param-value>
		</init-param>
		<init-param>
			<param-name>name</param-name>
			<param-value>samit</param-value>
		</init-param>
		<init-param>
			<param-name>profile</param-name>
			<param-value>java-developer</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
</web-app>